{% now "Y-m-d" as today_str %}
{% for task in tasks_list %}
    <div class="task-wrap">
        {{ task.tomorrow_str }}
        <div class="task-item {% if task.done %}checked{% endif %}"  data-id="{{ task.id }}">
            <span class="edit-icon"></span>
            <ul class="serveces-menu hide">
                {% if task.tomorrow|date:"Y-m-d" != task.date|date:"Y-m-d" %}
                    <li><span class="for-tomorrow">Пернести на завтра</span></li>
                {% endif %}
                {% if task.date|date:"Y-m-d" != today_str %}
                    <li><span class="for-today">Пернести на сегодня</span></li>
                {% endif %}
                <li><span class="edit-task">Редактировать</span></li>
                <li><span class="on-morrow hide">Пернести на дугой день</span></li>
                <li><span class="delete-task">Удалить</span></li>
            </ul>
            <span class="checkbox-blok"></span>
            <p>{{ task.title }}</p>
        </div>
        {% if task.description != '' %}
        <div class="wpap-description">
            <div class="task-description hide">
                {{ task.description }}
            </div>
            <span id="show-description">Подробнее...</span>
        </div>
        {% endif %}
    </div>
{% endfor %}
